body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1, h2, h3, h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

p {
  color: #8f8f8f;
}

/* Headings */
.title-heading {
  font-size: 2.8rem;
  line-height: 1.5;
  text-align: left;
}

.subtitle-heading {
  font-size: 1.7rem;
  line-height: 1.5;
  text-align: left;
}

.subjects {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: left;
}


/* Sections */
.color-text {
  background-color: #fff;
}

.white-text {
  background-color: teal;
  color: #fff;
}

.container-fluid {
  padding: 7% 15%;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 3rem;
}

.nav-item {
  padding: 0 18px 0 0;
}

.nav-link {
  font-size: 1.2rem;
}


/* Title */
#title.container-fluid {
  padding: 3% 15% 20%;
}

.title-image {
  width: 80%;
  right: 20%;
  z-index: 1;
}

@media (max-width: 1028px;) {
  .title-image {
    position: static;
    z-index: 1;
  }
}

@media (max-width: 450px) {
  .navbar {padding: 0 0 8px;}
  .title-heading {font-size: 9vw;}
  .subtitle-heading {font-size: 6vw;}
  .subjects {font-size: 4vw;}
}


.contact{
  text-align: center;
  color: white;
}
.contactbutton {
  padding: 10%;
  font-weight: 500;
}


#about {
  background-color: cornflowerblue;
  color: white;
  text-align: left;
}
.aboutmetext {
  color: white;
  font-weight: 500;
}
.headshot-img {
  max-width: 80%;
  min-width: 80px;
  margin: -10px 0 2% 5%;
}


.pricing {
  padding: 3% 2%;
}
.card {
  margin-top: 10px;
}
@media (max-width: 1028px;) {
  .title-image {
    position: static;
    z-index: 1;
  }

  #title {
    text-align: center;
  }
}


.contactbutton, button {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button {
  margin: 16px;
}

.contactbutton:hover, .finalcontactbutton:hover {
  background-color: cornflowerblue;
}

button:hover {
  background-color: teal;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
}


.persevere {
  width: 60%;
}
